.heading {
    margin-top: -9rem;
    position: relative;
}

.logo {
    display: block;
    margin: auto;
    margin-top: -8.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 2.8rem;
}

.description {
    text-align: center;
    color: hsl(0, 0%, 48%);
    line-height: 2.8rem;
}

.cta {
    margin-top: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtn {
    background-color: var(--moderateCyan);
    border: 0;
    color: #fff;
    font-weight: 700;
    padding: 2rem 3rem;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.actionBtn:hover {
    background-color: var(--darkCyan);
}

.bookmarkBtn {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #F4F4F4;
    padding-right: 3rem;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
}
.bookmarkBtn > svg circle,
.bookmarkBtn:hover > svg path {
    transition: all 0.3s ease-in-out;
}

.bookmarkBtn:hover > span {
    color: var(--darkCyan) !important
}

.bookmarkBtn:hover > svg circle {
    fill: var(--darkCyan) !important
}

.bookmarkBtn:hover > svg path {
    fill: #fff !important
}

.bookmarkBtn span {
    font-weight: 700;
    color: var(--darkGray);
}


@media screen and (max-width: 642px) {
    .bookmarkBtn span {
        display: none;
    }

    .cta {
        gap: 3rem;
    }

    .bookmarkBtn {
        padding-right: 0;
    }

    .actionBtn {
        padding: 1.5rem 2rem;
        font-weight: 500;
        text-align: center;
        border-radius: 2rem;
    }

    .logo {
        margin-top: -7rem;
    }
}