.hero {
    background: url('/images/image-hero-desktop.jpg') no-repeat center center;
    background-size: cover;
    height: 40.1rem;
    width: 100%;
}

@media screen and (max-width: 642px) {
    .hero {
        background: url('/images/image-hero-mobile.jpg') no-repeat center center;
        background-size: cover;
        height: 40.1rem;
        width: 100%;
    }
}